// Formatação status
.fundo-stts {
    border-radius: 25px;
    font-size: 11px;
    font-weight: 900;
    height: 20px;
}

.stts {
    color: black;
    position: relative;
    top: 3px;
    text-align: center;
    margin: 0 10px;
}